@import "config";

@function text-color-picker($color) {
    @if (lightness($color) > 70 ) {
        @return $black;
    } @else {
        @return $white;
    }
}

@mixin set-bg($color) {
    background-color: $color;
    color: text-color-picker($color)
    
}

@mixin important-text {
    font-weight: 1000;
}

@mixin result-message {
    color: $secondary-color;
    &:hover {
        background-color: green;
    }
}